# Expect three columns, tab separated, as follows:
# - value (Galaxy records this in the Galaxy DB, consider using a UUID but any unique value will work)
# - name (Galaxy shows this in the UI)
# - path (Path to the blast reference bin file)
#
# e.g.
# f45ee89a-d456-469a-8aeb-54cdfea821ec<tab>16S Microbial NCBI<tab>/path/to/16S_Microbial_NCBI.tab
